In [6]:
#this first block loads several modules that we may or may not use
#it serves as a check that you have them installed
import numpy as np
from sklearn.tree import DecisionTreeClassifier
import pandas as pd
import matplotlib.pyplot as plot
import torch
import torch.nn as nn

print("Modules loaded")

Modules loaded

In [3]:
pd.read_csv("test.csv")

       filename gender   age                                     location
0   img_250.jpg      M   NaN   Hannover Medical School, Hannover, Germany
1   img_251.jpg      M  30.0                          Qatif, Saudi Arabia
2   img_252.jpg      M   NaN  Vivantes Klinikum Neukölln, Berlin, Germany
3   img_253.jpg      M  73.0                                          NaN
4   img_254.jpg      M  51.0                                        Spain
..          ...    ...   ...                                          ...
89  img_339.jpg    NaN   NaN                                          NaN
90  img_340.jpg      F  70.0                                        Spain
91  img_341.jpg      F  45.0                         Melbourne, Australia
92  img_342.jpg      M  55.0                                 Milan, Italy
93  img_343.png    NaN   NaN                                       Taiwan

[94 rows x 4 columns]